window {
    margin: 0px;
    border: 2px solid #89b4fa;
    background-color: #1e1e2e;
    border-radius: 8px;
    font-family: "JetBrainsMono Nerd Font";
}

#input {
    margin: 8px;
    padding: 8px;
    background-color: #313244;
    border: 1px solid #45475a;
    color: #cdd6f4;
    border-radius: 4px;
    font-size: 14px;
}

#input:focus {
    border: 1px solid #89b4fa;
}

#inner-box {
    margin: 8px;
    background-color: #1e1e2e;
}

#outer-box {
    margin: 0px;
    background-color: #1e1e2e;
}

#scroll {
    margin: 0px;
}

#text {
    margin: 5px;
    color: #cdd6f4;
    font-size: 13px;
}

#entry {
    padding: 4px;
    margin: 2px;
    background-color: transparent;
}

#entry:selected {
    background-color: #45475a;
    border-radius: 4px;
}

#entry:selected #text {
    color: #89b4fa;
    font-weight: bold;
}

#text:selected {
    color: #89b4fa;
}
